{% extends 'my_nav_bar.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Home Page
        </h1>
        <h3 class="page-header">
            use flask templates inheritance to implement a common web ui framework
        </h3>
        <div class="content">
            <ul>
                <li>
                    <a href="http://flask.pocoo.org/docs/0.12/">1. learn Flask</a>
                </li>
                <li>
                    <a href="http://jinja.pocoo.org/docs/2.9/">2. learn Jinja2</a>
                </li>
                <li>
                    <a href="http://getbootstrap.com/getting-started/">3. learn Bootstrap</a>
                </li>
                <li>
                    <a href="http://flask.pocoo.org/docs/0.12/patterns/templateinheritance/#template-inheritance">4. Flask templates inheritance</a>
                </li>
                <li>
                    <a href="http://flask.pocoo.org/docs/0.12/patterns/sqlite3/"> 5. use sqlite3 with Flask</a>
                </li>
                <li>
                    <a href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000/0014021031294178f993c85204e4d1b81ab032070641ce5000">
                        6.Learn SQLAlchemy: an orm lib for python</a>
                </li>

            </ul>
        </div>
{% endblock %}